a{
    color:red;
}

.myclass{
    background-color: royalblue;
}

.alsomyclass{
    color:salmon;
}

.alsoalsomyclass{
    color:skyblue;
}

.bird{
    color:yellow;
}

li.home:hover {
    background-color: black;
}