a{
    color:red;
}

.myclass{
    background-color: royalblue;
}

.alsomyclass{
    color:salmon;
}

.alsoalsomyclass{
    color:skyblue;
}

.bird{
    color:yellow;
}

li.home:hover {
    background-color: black;
}

.pages{
    background-color: coral;
}

#CMC {
    background-color: darkslategray;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightslategray;
    }
  }